<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Wine Project</a>
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="container">		
		<div class="col-md-8">
			<h1 class="header">Wines</h1>
			<p>This example is a quick exercise to illustrate angular CRUD.</p>
		</div>
		<div class="col-md-4">
			<img src="img/header.jpg" class="img-responsive">
		</div>
	</div>
</div>
